@charset "UTF-8";
header{height:100px}
nav{height:40px; background-color:#C38136;}
.contents{min-height:500px}
footer{height:70px}
nav .top-menu-font {
	font-size:13px; 
	color:#FFFFFF;
	font-weight: bold;}
nav .top-menu-font:hover {font-size:13px; color:#000;}
img{width:1110px}
.box-side{height:200px; background-color:#A06C30;}
.box{height:200px; background-color: #C38136}